{% extends 'layouts/base.html' %}
{% include 'partials/header.html' %}
{% load crispy_forms_filters %}
{% block content %}

<style>
  .asteriskField{
      display: none;
  }
  
  </style>
         
 
<div style="margin-top:40px;margin-bottom:40px;" class="container">

  <div class="row justify-content-center">

      
      <div class="col-sm-4">

          <form action="{% url 'signin' %} " method="POST" class="shadow py-4 px-3 mt-5">
              {% csrf_token %}

              <div class="breadcrumb-text">
                  <p class="text-center">Sign In</p>
              </div>
              {{ form | crispy }}
              <button class="btn btn-dark rounded-0 w-100">Login</button>
              <div class="mt-3">
                  Don't have an account? <a  class="card-link" href="{% url 'signup' %}">register here</a>
              </div>
          </form>
      </div>
  </div>
</div>


{% endblock %}